<div class="h-[100vh]">
  <div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
    <table class="w-full text-left table-auto min-w-max text-slate-800">
      <thead>
        <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
          <th class="p-4"></th>
          <th class="p-4">Name</th>
          <th class="p-4"></th>
        </tr>
      </thead>
      <tbody>
        @for (task of tasks; track $index) {
        <tr>
          <td class="p-4">
              <input *ngIf="task.isResolved == true" checked type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" />
              <input *ngIf="task.isResolved == false" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" />
          </td>
          <td *ngIf="task.isResolved == true" class="p-4 line-through text-gray-500">{{ task.name }}</td>
          <td *ngIf="task.isResolved == false" class="p-4">{{ task.name }}</td>
          <td class="p-4">
            <button
              class="btn btn-primary bg-orange-400 px-5 py-3 rounded-lg text-white"
              [routerLink]="['/roomlist', task.id]"
            >
              Edit
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
